<div class="main" style="margin-top: -80px;">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="https://www.jobbkk.com/upload/employer/0E/05E/02F05E/images/192606.webp"
              alt="sing up image"></figure>
          <a routerLink="/login" routerLinkActive="active" style="text-decoration: none;">
            <p style="text-align: center; margin-top: -50px;">Login ใหม่</p>

          </a>
        </div>
        <div class="signin-form">
          <h3 class="form-title"> รีเซ็ตรหัสผ่านใหม่ </h3>
          <span>กรุณากรอก email ของคุณให้ถูกต้อง</span>

          <form method="POST" class="register-form" id="login-form" style="margin-top: 20px;">
            <div class="form-group">
              <label for="email">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                </svg>
              </label>

              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Email"
                [ngModelOptions]="{standalone: true}" maxlength="50" autocomplete="email" required>
            </div>





            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" value="Send Email" (click)="resetpassword()">
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
  <!-- เพิ่ม Bootstrap JS script ถ้าคุณต้องการใช้ JavaScript ของ Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</div>
